body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #ffde22;
}

.sidebar {
  background-color: #ff7755;
}

.nav {
  background-color: #00ddff;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

/** 
Solution: I added the display grid property,
and using the grid-template-areas, grid-area, 
and grid-template columns with minmax it can be fully responsive
*/

.container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: minmax(160px, 1fr) minmax(160px, 3fr);
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.nav {
  grid-area: nav;
}

.article {
  grid-area: article;
}
